name: CI Microservicios
on:
  push:
  pull_request:
permissions:
  contents: read
  security-events: write
  id-token: write
  packages: write
jobs:
  build-test-run:
    runs-on: ubuntu-latest
    services:
      producto-db:
        image: postgres:15
        env:
          POSTGRES_USER: ${{ secrets.DB_USERNAME }}
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
          POSTGRES_DB: productos
        ports:
          - 5433:5432
        options: >-
          --health-cmd="pg_isready -U $$POSTGRES_USER"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5
      orden-db:
        image: postgres:15
        env:
          POSTGRES_USER: ${{ secrets.DB_USERNAME }}
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
          POSTGRES_DB: ordenes
        ports:
          - 5434:5432
        options: >-
          --health-cmd="pg_isready -U $$POSTGRES_USER"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4
      - name: Configurando el JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      # ==============================================
      # SBOM (Software Bill of Materials)
      # ==============================================
      - name: SBOM producto-service
        uses: anchore/sbom-action@v0
        with:
          path: producto-service
          format: cyclonedx-json
          output-file: producto-sbom.json
          upload-artifact: true
      - name: SBOM orden-service
        uses: anchore/sbom-action@v0
        with:
          path: orden-service
          format: cyclonedx-json
          output-file: orden-sbom.json
          upload-artifact: true
      # Compilar solo los módulos microservicios
      - name: Compilar modulos sin tests
        run: mvn -B -pl producto-service,orden-service -am clean package -DskipTests
      # ---------------------------------
      # Levantar producto-service
      # ---------------------------------
      - name: Instancia producto-service
        env:
          SPRING_DATASURCE_USERNAME: ${{ secrets.DB_USERNAME }}
          SPRING_DATASURCE_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: |
          cd producto-service
          nohup java -jar target/*.jar \
          --server.port=8081 \
          --spring.datasource.url=jdbc:postgresql://localhost:5433/productos \
          > .. /logs/producto-service.log 2>&1 &
      # ---------------------------------
      # Levantar orden-service
      # ---------------------------------
      - name: Instancia orden-service
        env:
          SPRING_DATASURCE_USERNAME: ${{ secrets.DB_USERNAME }}
          SPRING_DATASURCE_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: |
          cd orden-service
          nohup java -jar target/*.jar \
          --server.port=8082 \
          --spring.datasource.url=jdbc:postgresql://localhost:5434/ordenes \
          > .. /logs/orden-service.log 2>&1 &
      - name: Esperar a que los servicios estén listos
        run: sleep 25
      - name: Ejecutar integration tests (multi-modulo)
        env:
          PRODUCT_SERVICE_URL: http://localhost:8081
          ORDEN_SERVICE_URL: http://localhost:8082
        run: mvn -B test -pl producto-service,orden-service
      # +++++++++++++++++++++++++++++++++++++++
      # Seguridad sobre nuestro código (SAST + dependencias) -> Static Application Security Testing
      # +++++++++++++++++++++++++++++++++++++++
      - name: Instalar Snyk CLI
        run: npm install -g snyk
      - name: Escaneo de dependencias SnyK
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: snyk test --all-projects --severity-threshold=medium
      - name: Trivy Filesystem Scan (SAST + config)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          ingnore-unfixed: true
          severity: 'HIGH,CRITICAL'
      # +++++++++++++++++++++++++++++++++++++++++
      # Hardening: OPA/Conftest sobre Dockerfiles
      # +++++++++++++++++++++++++++++++++++++++++
      - name: Instalar Conftest
        run: |
          curl -L https://github.com/open-policy-agent/conftest/releases/download/v0.65.0/conftest_0.65.0_Linux_x86_64.tar.gz \
          | tar zx
          sudo mv conftest /usr/local/bin/
          conftest --version
      - name: Validar políticas
        run: |
          conftest verify --policy policy
      - name: Salida de parser con debug de Dockerfile
        run: |
          echo "*** parseando producto-service ***"
          conftest parse --parser dockerfile producto-service/Dockerfile
          echo "*** parseando orden-service ***"
          conftest parse --parser dockerfile orden-service/Dockerfile
      - name: Verificación de políticas de seguridad (Dockerfiles)
        run: |
          conftest test --parser dockerfile producto-service/Dockerfile --output json || true
          conftest test --parser dockerfile orden-service/Dockerfile --output json || true
      # +++++++++++++++++++++++++++++++++++
      #           SNYK con SBOM
      # +++++++++++++++++++++++++++++++++++
      - name: Scaneo Snyk SBOM producto-service
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: snyk sbom test --experimental --file=producto-sbom.json -d || true
      - name: Scaneo Snyk SBOM orden-service
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: snyk sbom test --experimental --file=orden-sbom.json -d || true
      # ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      #   Integrando SBOM con Trivy y reportandolo como SARIF para Github Security Dashboard (Static Analysis Results Interchange Format)
      # ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      - name: Generar SBOM con Trivy (CycloneDX) -> producto-service
        run: trivy fs . --format cyclonedx --output producto-sbom-by-trivy.json
      - name: Trivy SBOM -> SARIF
        run: trivy sbom producto-sbom-by-trivy.json --format sarif --output trivy-sbom-prod.sarif
      - name: Subiendo SARIF a Github Security producto-service
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-sbom-prod.sarif
          category: producto-service
      - name: Generar SBOM con Trivy (CycloneDX) -> orden-service
        run: trivy fs . --format cyclonedx --output orden-sbom-by-trivy.json
      - name: Trivy SBOM -> SARIF
        run: trivy sbom orden-sbom-by-trivy.json --format sarif --output trivy-sbom-orden.sarif
      - name: Subiendo SARIF a Github Security orden-service
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-sbom-orden.sarif
          category: orden-service
      - name: Subiendo artifact SARIF
        uses: actions/upload-artifact@v4
        with:
          name: archivos-sarif
          path: "*.sarif"
      # +++++++++++++++++++++++++++++++++++
      #  Escaneo de imagenes con Trivy (Vulnerabilidades de imagen)
      # +++++++++++++++++++++++++++++++++++
      - name: Build de imagenes docker
        run: |
          docker build -t producto-service-img producto-service
          docker build -t orden-service-img orden-service
      - name: Escaneo de imagenes con Trivy - producto-service
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: image
          image-ref: 'producto-service-img'
          severity: 'HIGH,CRITICAL'
          ignore-unfixed: true
      - name: Escaneo de imagenes con Trivy - orden-service
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: image
          image-ref: 'orden-service-img'
          severity: 'HIGH,CRITICAL'
          ignore-unfixed: true
      - name: Inducir fail si las vulnerabilidades son HIGH/CRITIAL
        run: |
          if grep -R "CRITICAL\|HIGH" trivy*; then
            echo "Vulnerabilidades detectadas en la imagen. Se provoca falla manual en el pipeline."
            exit 1
          fi || true
      - name: Trivy Escaneo de config de IaC
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          scan-ref: '.'
          severity: 'HIGH,CRITICAL'
